.viewequipment-container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.viewequipment-container section {
    width: 100%;
    max-width: 380px;
}

.viewequipment-container section.form img {
    width: 70%;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

.viewequipment-container section.form h1 {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
    padding: 0;
}

.camp {
    margin-bottom: 15px;
}

.camp label {
    display: block;
    font-size: 12px;
    color: #333;
    margin-bottom: 5px;
}

.camp input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    pointer-events: none;
    opacity: 0.9;
}
