.newequipment-container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    overflow: auto;
}


.newequipment-container section {
    width: 100%;
    max-width: 380px;
}

.newequipment-container section.form {
    max-width: 350px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.newequipment-container section.form img {
    width: 45%;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

.newequipment-container section.form h1,
.newequipment-container section.form input {
    width: 100%;
}

.newequipment-container section.form h1 {
    font-weight: bold;
    text-align: left; 
    margin-bottom: 10px; 
    padding: 0; 
}

.newequipment-container section.form input {
    min-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.camp {
    margin-bottom: 10px;
    font-size: 12px;
}